.calculator {
    width: 200px;
    background: #EEE;
    border: solid 1px #ccc;
    border-radius: 7px;
}

.calculator .display {
    background: gray;
    border: solid 1px #000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 30px;
    margin: 1px;
    overflow: hidden;
    height:42px;
}

.calculator .display-text {
    color: #fff;
    margin: 0px 5px;
    overflow: hidden;
    text-align: right;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.calculator .button {
    overflow: hidden;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: 1px solid gray;
}

.calculator .buttons {
    margin-bottom: 2px;
    margin-top: 2px;
}